@tailwind base;
@tailwind components;
@tailwind utilities;

#__next {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

@layer base {
  html {
    font-family: 'Bellefair', system-ui, sans-serif;
  }
}

@layer components {
  .container {
    @apply sm:max-w-6xl sm:mx-auto;
  }

  .btn {
    @apply p-4 px-6 font-bold tracking-widest uppercase border rounded-sm shadow-md cursor-pointer border-secondary font-heading;
  }
}
